a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
  margin:0;
  padding:0;
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:after,blockquote:before,q:after,q:before{
  content:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
html{
  box-sizing:border-box;
}
*,:after,:before{
  box-sizing:inherit;
}
img{
  vertical-align:top;
}
body,html{
  height:100%;
  min-height:100%;
}
html{
  font-size:100%;
}
body{
  background:#fff;
  font-size:18px;
  line-height:1.4;
  font-family:Helvetica,Arial,sans-serif;
  color:#333;
}
a{
  color:#4183c4;
  text-decoration:underline;
  cursor:pointer;
  word-wrap:break-word
}
a:hover{color:#689cd0;}
.container{
  margin:0 auto;
  max-width:960px;
  padding:0 10px;
  width:100%;
}
h1,h2,h3,h4,h5,h6{
  color:#222;

  line-height:1.7;
  margin:15px 0;
  padding:0;
  transition:background-color .3s
}
@media (max-width:680px){h1,h2,h3,h4,h5,h6{line-height:1.4;}
  }
h1[id]:hover,h2[id]:hover,h3[id]:hover,h4[id]:hover,h5[id]:hover,h6[id]:hover{cursor:pointer;background-color:#eee;}
h1{
  font-size:32px
}
h1 a{text-decoration:none;color:#333;}
h1 a:hover{color:#4183c4;}
h2{
  font-size:28px;
}
h3{
  font-size:22px;
}
h4{
  font-size:18px;
  color:#666;
}
p{
  margin:15px 0;
}
ol,ul{
  margin:15px 0;
  padding-left:30px;
}
ul{
  list-style-type:disc;
}
ol{
  list-style-type:decimal;
}
ol ol,ol ul,ul ol,ul ul{
  margin:0;
}
ol ul,ul ul{
  list-style-type:circle;
}
img{
  max-width:100%;
}
.unloading #main{opacity:.5;pointer-events:none;}
.date{
  font-style:italic;
  color:#666;
}
.clearfix:after,.clearfix:before{display:table;content:'';clear:both;}
.more{
  display:none;
}
.text-center{
  text-align:center;
}
.rounded{
  border-radius:5px;
}
blockquote{
  margin:15px .8em;
  border-left:2px solid #666;
  padding:7.5px;
  color:#666;
  font-size:22px;
  font-style:italic;
}
.absolute-hidden{
  position:absolute;
  top:-9999px;
  left:-9999px;
  width:1px;
  height:1px;
  overflow:hidden;
}
.social-links{

  display:-ms-flexbox;

  display:flex;
  -ms-flex-align:center;
      align-items:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap
}
.social-links:after,.social-links:before{display:table;content:'';clear:both;}
.social-links>*{margin-right:8px;}
@media (max-width:680px){.social-links>*{margin-bottom:8px;}}
.social-links svg{float:left;}
@media (max-width:680px){.small-social-links{
    -ms-flex-pack:center;
        justify-content:center;}
  }
.small-social-links svg{width:35px;height:35px;}
.big-social-links{
  -ms-flex-pack:center;
      justify-content:center
}
.big-social-links svg{width:40px;height:40px;}
.share-buttons{
  display:inline-block;
  min-height:34px;
}
.twitter-widget{
  display:none;
}
.open-close-wrapper{
  position:relative
}
.open-close-wrapper .open-close{display:none;}
.open-close-wrapper .text{border-bottom:1px dashed #999;cursor:pointer;}
.open-close-wrapper .icon{cursor:pointer;display:inline-block;transition:transform .3s;width:0;height:0;border-style:solid;border-width:5px;border-color:#000 transparent transparent;border-bottom:none;}
.open-close-wrapper [type=checkbox]{position:absolute;visibility:hidden;}
.open-close-wrapper [type=checkbox]:checked~.open-close{display:block;}
.open-close-wrapper [type=checkbox]:checked~.icon{transform:rotate(180deg);}
.wrapper-masthead{
  margin-bottom:10px;
  background-color:#eee;
}
.masthead{
  padding:15px 0
}
@media (max-width:680px){.masthead{text-align:center;}
  }
.site-avatar{
  float:left;
  width:70px;
  height:70px;
  margin-right:15px
}
@media (max-width:680px){.site-avatar{float:none;display:block;margin:0 auto;}
  }
.site-avatar img{border-radius:5px;}
.site-info{
  float:left
}
@media (max-width:680px){.site-info{float:none;display:block;margin:0 auto;}
  }
.site-name{
  line-height:1;
  margin:0 0 7px;
  color:#333;
  cursor:pointer;
  font-weight:300;
  font-size:28px;
  letter-spacing:1px;
}
.site-description{
  position:absolute;
  top:-9999px;
  left:-9999px;
  width:1px;
  height:1px;
  overflow:hidden;
}
.header-options{
  overflow:hidden;
  padding-left:20px
}
.header-options>*{float:right;}
@media (max-width:680px){.header-options{padding-left:0;}.header-options>*{float:none;}
  }
nav{
  font-size:20px
}
@media (max-width:680px){nav{display:block;}
  }
nav a{margin-left:15px;color:#333;text-align:right;font-weight:300;letter-spacing:1px;}
@media (max-width:680px){nav a{margin:0 10px;color:#4183c4;}}
.post-short{
  cursor:pointer;
  padding-bottom:15px;
  border-bottom:3px solid #eee
}
.post-short:hover h1 a{color:#4183c4;}
.post-short .date{display:block;padding-top:15px;margin-bottom:-15px;}
.posts .post-short:last-child{
  border-bottom:none;
}
.post:after,.post:before{display:table;content:'';clear:both;}
.post .external-link-icon{width:54.4px;height:54.4px;float:right;background:transparent url(/images/icons/external-link.svg) no-repeat 50%;background-size:auto 75%;}
.post .meta:after,.post .meta:before{display:table;content:'';clear:both;}
.post .meta .share-buttons{float:right;}
.post .meta span{display:inline-block;vertical-align:middle;}
.post .meta .date{padding-right:15px;}
.post .comments{margin-top:10px;}
.entry:after,.entry:before{display:table;content:'';clear:both;}
.entry .highlight{border-bottom:1px solid #eee;border-top:1px solid #eee;padding:10px 0;margin:15px 0;}
.entry code.highlighter-rouge{background:#f0f0f0;border-radius:3px;padding:0 5px;}
.entry .cp_embed_iframe,.entry iframe{margin:15px 0;max-width:100%;}