@supports ((-webkit-scroll-snap-type: mandatory) or (-ms-scroll-snap-type: mandatory) or (scroll-snap-type: mandatory)) or (-webkit-scroll-snap-type: mandatory) {
  .is-not-supported {
    display: none; } }

@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(2); }
  100% {
    transform: scale(1); } }

h1 {
  text-align: center; }

.gallery-wrapper {
  width: 500px;
  margin: 0 auto;
  overflow: hidden; }

.gallery {
  width: 500px;
  height: 275px;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory; }

.gallery img {
    width: 500px;
    height: 275px; }

.gallery-switchers {
  margin: 5px 0; }

/* ALIGN HORIZONTALLY */

.open-close-wrapper {
  text-align: center; }

.open-close-wrapper .open-close div {
    margin: 0 auto; }

/*
  HORIZONTAL GALLERY
*/

.horizontal-gallery {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  /*to fix spaces between images*/
  -webkit-scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
      scroll-snap-points-x: repeat(100%); }

.horizontal-gallery img {
    display: inline-block; }

/*
  VERTICAL GALLERY
*/

.vertical-gallery {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-scroll-snap-points-y: repeat(100%);
  -ms-scroll-snap-points-y: repeat(100%);
      scroll-snap-points-y: repeat(100%); }

.vertical-gallery img {
    display: block; }

/*
  YOUMAYKNOW GALLERY
*/

.youmayknow-gallery-wrapper {
  text-align: center; }

.youmayknow-gallery-wrapper label {
    margin-right: 10px;
    margin-bottom: 10px; }

.youmayknow-gallery {
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin-bottom: 20px; }

.youmayknow-gallery .item {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 225px;
    margin-right: 50px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 13px;
    padding: 9px 9px 5px;
    text-align: center; }

.youmayknow-gallery .item:last-child {
      margin-right: 0; }

.youmayknow-gallery img {
    width: auto;
    height: auto;
    max-height: 250px; }

.youmayknow-gallery .info:after {
    content: '';
    display: block;
    clear: both; }

.youmayknow-gallery .info .action-box {
    float: right;
    overflow: hidden; }

.youmayknow-gallery .info .action-box label {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer;
      position: relative; }

.youmayknow-gallery .info .action-box label i {
        display: block;
        content: '';
        width: 40px;
        height: 40px;
        background-image: url(https://i.imgur.com/18g89bA.png);
        background-repeat: no-repeat;
        background-size: 109px 163px;
        background-position: 0 -91px; }

.youmayknow-gallery .info .action-box label input[type=checkbox] {
        position: absolute;
        visibility: hidden; }

.youmayknow-gallery .info .action-box label input[type=checkbox]:checked + i {
        background-position: -41px -91px;
        animation: bounce 0.3s; }

.youmayknow-gallery .info .text {
    text-align: left;
    line-height: 20px;
    padding-top: 5px;
    overflow: hidden; }

.youmayknow-gallery .info .text .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: bold; }

.youmayknow-gallery .info .text .mutual-friends {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: gray; }

/*
  SCROLL SNAPPING ALIGNMENT
*/

#align-to-center:checked ~ .gallery-wrapper .youmayknow-gallery {
  -webkit-scroll-snap-destination: 50% 50%;
  -ms-scroll-snap-destination: 50% 50%;
      scroll-snap-destination: 50% 50%; }

#align-to-center:checked ~ .gallery-wrapper .youmayknow-gallery .item {
    -webkit-scroll-snap-coordinate: 50% 50%;
    -ms-scroll-snap-coordinate: 50% 50%;
        scroll-snap-coordinate: 50% 50%; }

#align-to-center:checked ~ .gallery-wrapper .youmayknow-gallery .item:last-child {
      -webkit-scroll-snap-coordinate: 0 50%;
      -ms-scroll-snap-coordinate: 0 50%;
          scroll-snap-coordinate: 0 50%; }

#align-to-left:checked ~ .gallery-wrapper .youmayknow-gallery {
  -webkit-scroll-snap-destination: 0 50%;
  -ms-scroll-snap-destination: 0 50%;
      scroll-snap-destination: 0 50%; }

#align-to-left:checked ~ .gallery-wrapper .youmayknow-gallery .item {
    -webkit-scroll-snap-coordinate: 0 50%;
    -ms-scroll-snap-coordinate: 0 50%;
        scroll-snap-coordinate: 0 50%; }
