.container-wrapper__sub-header-default {
  --header-padding-top: calc(8 * var(--spacer));

  // put under header
  margin-top: calc(-1 * var(--header-height));
  padding-top: calc(var(--header-height) + var(--header-padding-top));

  // color not extracted to a variable, as it depends on and comes with the photo
  background: #222 url('/images/large/main.jpg') no-repeat 50% 50%;
  background-size: auto 100%;
}

.sub-header-default {
  display: flex;
  justify-content: flex-end;
  color: var(--header-footer-color);

  // indents
  padding-bottom: calc(15 * var(--spacer));
  padding-right: calc(6 * var(--spacer));

  .slogan__text {
    display: none; // temporary hide
    width: 224px;
    height: 128px;
    background: url(/images/icons/slogan.svg) no-repeat 0 0;
    background-size: contain;
    margin-bottom: calc(3 * var(--spacer));
  }

  .slogan__author {
    padding-left: calc(2 * var(--spacer));
  }
}
