{% if page.active-page == 'blog'  %}
    {% assign logoSrcPrefix = 'logo' %}
{% else %}
    {% assign logoSrcPrefix = 'logo-white' %}
{% endif %}
<link rel="preload" href="/images/{{logoSrcPrefix}}.png" as="image" media="(-webkit-max-device-pixel-ratio: 1.9),(max-resolution: 1.9dppx)">
<link rel="preload" href="/images/{{logoSrcPrefix}}2x.png" as="image" media="(-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx)">
<link rel="preconnect" href="https://platform.twitter.com">
<link rel="preconnect" href="https://www.google-analytics.com">