{% if site.web-master-verifications.google %}<meta name="google-site-verification" content="{{ site.web-master-verifications.google }}" />{% endif %}
{% if site.web-master-verifications.bing %}<meta name="msvalidate.01" content="{{ site.web-master-verifications.bing }}" />{% endif %}
{% if site.web-master-verifications.yandex %}<meta name='yandex-verification' content="{{ site.web-master-verifications.yandex }}" />{% endif %}
{% if site.web-master-verifications.followit %}<meta name="follow.it-verification-code" content="{{ site.web-master-verifications.followit }}"/>{% endif %}
