{% if site.web-master-verifications.google %}<meta name="google-site-verification" content="{{ site.web-master-verifications.google }}" />{% endif %}
{% if site.web-master-verifications.bing %}<meta name="msvalidate.01" content="{{ site.web-master-verifications.bing }}" />{% endif %}
{% if site.web-master-verifications.yandex %}<meta name='yandex-verification' content="{{ site.web-master-verifications.yandex }}" />{% endif %}

<meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-03-06" content="AlkztyRQHTpOFwOWmuZtRx6O9prNDXSm0WcKoDIxsYuAI2CCZDE3zrKCZt4SkO1D2xpsm/tslihU87IbLwcTzAkAAABkeyJvcmlnaW4iOiJodHRwczovL2hvc3BvZGFyZXRzLmNvbTo0NDMiLCJmZWF0dXJlIjoiV2ViU2hhcmUiLCJleHBpcnkiOjE0ODg4MTA2NjQsImlzU3ViZG9tYWluIjp0cnVlfQ==">
