$social-links-indent: 8px;

.social-links {
  @include clearfix;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin-right: $social-links-indent;

    @include mobile-breakpoint {
      margin-bottom: $social-links-indent;
    }
  }

  svg {
    float: left;
  }
}

.small-social-links {
  @include mobile-breakpoint {
    justify-content: center;
  }

  $size: 35px;
  svg {
    width: $size;
    height: $size;
  }
}

.big-social-links {
  justify-content: center;

  $size: 40px;
  svg {
    width: $size;
    height: $size;
  }
}