@import "../variables";
@import "../mixins";

.social-links {
  @include clearfix;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin-right: var(--social-links-indent);

    @include mobile-breakpoint {
      margin-bottom: var(--social-links-indent);
    }
  }

  svg {
    float: left;
  }
}

.small-social-links {
  @include mobile-breakpoint {
    justify-content: center;
  }

  // ToDo Assignment of CSS vars to Sass vars doesn't work
  // change to local CSS vars
  $_size: 35px;
  svg {
    width: $_size;
    height: $_size;
  }
}

.big-social-links {
  justify-content: center;

  // ToDo Assignment of CSS vars to Sass vars doesn't work
  // change to local CSS vars
  $_size: 40px;
  svg {
    width: $_size;
    height: $_size;
  }
}