/* COMMON */
body {
    margin: 0;
}

.triangle-char-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    align-items: center;
}

/* PIE CHART */
.triangle-chart-common {
    width: 440px;
    height: 290px;
}

.legend {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
}

.legend dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.legend dd {
    margin: 0;
}

/* PAINT API */
.triangle-chart {
    background-image: paint(triangle-chart);

    --triangle-values: 15654, 4064, 1987, 976, 846;
    --triangle-colors: #80B7E8, #5C5C60, #ADFB9E, #F3A268, #8189E3;
    --triangle-stroke-color: #ffffff;
    --triangle-stroke-opacity: 1;
}

/*.pie-chart-from-inputs {*/
/*background-image: paint(pie-chart);*/
/*}*/