/* Cannot live in a file which is imported many */
/* times as :root content would be included everytime */
/* should exist and be imported only in one place (critical CSS) */
:root {
  @include cssVars((
    /* COLORS */
          --link-color: #4183C4,
          --link-hover-color: #689cd0,
          --title-hover-color: var(--link-color),
          --code-block-border-color: #eee,
    /* Gray colors */
          --darker-gray-color: #222,
          --dark-gray-color: #333,
          --gray-color: #666,
          --light-gray-color: #eee,
    /* BACKGROUNDS */
          --main-bg: #fff,
    /* Typography */
          --main-font-family: (Helvetica, Arial, sans-serif),
          --main-heading-font-size: 32px,
    /* Layout */
          --main-vertical-indent: 15px,
          --main-container-max-width: 960px,
          --blockquote-padding: calc(var(--main-vertical-indent) / 2),
    /* Icon links */
          --social-links-indent: 8px,
          --small-social-link-size: 35px,
          --big-social-link-size: 40px,
          --external-link-size: calc(var(--main-heading-font-size) * 1.7),
    /* Buttons */
          --btn-width: 100px,
          --btn-height: 2.8em,
          --btn-pulse-color: rgba(42, 101, 160, 0.8),
          --btn-pulse-hover-color: #fff,
          --btn-pulse-bg: #f1f1f1,
          --btn-pulse-hover-bg: rgba(56, 132, 205, 0.8),
    /* Pagination */
          --pagination-btn-number: 7,
          --pagination-btn-width: calc(100% / var(--pagination-btn-number)), /* rounded to a third decimal after a point */
          --pagination-btn-indent: calc(var(--pagination-btn-width) / 10),
          --pagination-pages-btn-number: 5,
          --pagination-pages-btn-width: calc(100% / var(--pagination-pages-btn-number))
  ));
}