.grid{
  grid-auto-columns:50px;
  grid-auto-rows:50px;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:213px 210px 210px 210px 210px;
      grid-template-columns:213px 210px 210px 210px 210px;
  -ms-grid-rows:249px 249px 249px;
      grid-template-rows:249px 249px 249px; }

.grid-item{
  width:100%;
  height:100%;
  box-sizing:border-box;
  display:-ms-grid;
  display:grid;
  grid:100%/100%;
  -ms-grid-column-align:center;
      justify-items:center;
  -ms-grid-row-align:center;
      align-items:center;
  position:relative; }

.grid-item img{
  position:absolute;
  top:0;
  left:0;
  max-width:none; }

.cell-1-1{
  -ms-grid-column:1;
      grid-column:1;
  -ms-grid-row:1;
      grid-row:1; }

.cell-2-1{
  -ms-grid-column:2;
      grid-column:2;
  -ms-grid-row:1;
      grid-row:1; }

.cell-3-1{
  -ms-grid-column:3;
      grid-column:3;
  -ms-grid-row:1;
      grid-row:1; }

.cell-4-1{
  -ms-grid-column:4;
      grid-column:4;
  -ms-grid-row:1;
      grid-row:1; }

.cell-5-1{
  -ms-grid-column:5;
      grid-column:5;
  -ms-grid-row:1;
      grid-row:1; }

.cell-1-2{
  -ms-grid-column:1;
      grid-column:1;
  -ms-grid-row:2;
      grid-row:2; }

.cell-2-2{
  -ms-grid-column:2;
      grid-column:2;
  -ms-grid-row:2;
      grid-row:2; }

.cell-3-2{
  -ms-grid-column:3;
      grid-column:3;
  -ms-grid-row:2;
      grid-row:2; }

.cell-4-2{
  -ms-grid-column:4;
      grid-column:4;
  -ms-grid-row:2;
      grid-row:2; }

.cell-5-2{
  -ms-grid-column:5;
      grid-column:5;
  -ms-grid-row:2;
      grid-row:2; }

.cell-1-3{
  -ms-grid-column:1;
      grid-column:1;
  -ms-grid-row:3;
      grid-row:3; }

.cell-2-3{
  -ms-grid-column:2;
      grid-column:2;
  -ms-grid-row:3;
      grid-row:3; }

.cell-3-3{
  -ms-grid-column:3;
      grid-column:3;
  -ms-grid-row:3;
      grid-row:3; }

.cell-4-3{
  -ms-grid-column:4;
      grid-column:4;
  -ms-grid-row:3;
      grid-row:3; }

.cell-5-3{
  -ms-grid-column:5;
      grid-column:5;
  -ms-grid-row:3;
      grid-row:3; }

.cell-2-1 img{
  left:-100px; }

.cell-3-1 img{
  left:-49px; }

.cell-4-1 img{
  left:-95px; }

.cell-5-1 img{
  left:21px; }

.cell-1-2 img{
  top:-88px; }

.cell-2-2 img{
  top:-64px;
  left:-197px; }

.cell-3-2 img{
  top:-61px;
  left:-140px; }

.cell-4-2 img{
  top:-133px;
  left:-29px; }

.cell-5-2 img{
  top:-45px;
  left:-80px; }

.cell-1-3 img{
  top:14px; }

.cell-2-3 img{
  top:-74px;
  left:-98px; }

.cell-3-3 img{
  top:33px;
  left:-114px; }

.cell-4-3 img{
  top:49px;
  left:-25px; }

.cell-5-3 img{
  top:-58px;
  left:25px; }
