@import "../mixins";

//------------------------------------
//    OPEN-CLOSE block
//------------------------------------
.open-close-wrapper {
  position: relative;

  .open-close {
    display: none;
  }

  .text {
    border-bottom: 1px dashed #999;
    cursor: pointer;
  }

  .icon {
    cursor: pointer;
    display: inline-block;
    @include triangle(bottom, $color: #000, $size: 5px);
    transition: transform .3s;
  }

  [type=checkbox] {
    position: absolute;
    visibility: hidden;

    &:checked {
      ~ .open-close {
        display: block;
      }

      ~ .icon {
        transform: rotate(180deg);
      }
    }
  }
}