@import "../mixins";

//------------------------------------
//    OPEN-CLOSE block
//------------------------------------
.open-close-wrapper {
  position: relative;

  .open-close {
    display: none;
  }

  .text {
    border-bottom: 1px dashed #999;
    cursor: pointer;
  }

  .icon {
    cursor: pointer;
    display: inline-block;
    transition: transform .3s;

    @apply --triangle-preset;
    border-width: 5px;
    border-color: #000 transparent transparent;
    border-bottom: none;
  }

  [type=checkbox] {
    position: absolute;
    visibility: hidden;

    &:checked {
      ~ .open-close {
        display: block;
      }

      ~ .icon {
        transform: rotate(180deg);
      }
    }
  }
}