<nav class="nav-links">
    <ul>
        <li>
            <a class="{% if page.active-page == 'blog'  %} active {% endif %}" href="{{ site.urls.blog }}">Blog</a>
        </li>
        <li>
            <a class="{% if page.active-page == 'speaking'  %} active {% endif %}" href="{{ site.urls.speaking }}">Speaking</a>
        </li>
        <li>
            <a class="{% if page.active-page == 'about'  %} active {% endif %}" href="{{ site.urls.about }}">About</a>
        </li>
        <li>
            <a class="{% if page.active-page == 'contact'  %} active {% endif %}" href="{{ site.urls.contact }}">Contact</a>
        </li>
    </ul>
</nav>