<span class="share">
    <span class='st_twitter_large' displayText='Tweet' st_via="malyw" st_username='malyw'></span>
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <script>
        (function () {
            var script = document.createElement('script');
            script.async = true;
            script.src = 'http://w.sharethis.com/button/buttons.js';
            script.onload = function()
            {
                stLight.options({
                    publisher: "d17f6eee-8573-4fba-b16e-2bca31a25157",
                    doNotHash: true,
                    doNotCopy: true,// If false,  “See more: yourURL.com#SThashtag” will appear
                    hashAddressBar: false,
                    shorten: false
                });
            }
            ;
            document.head.appendChild(script);
        })();
    </script>
</span>