<div class="social-links">
    <a class="social-links__email" href="{{ site.urls.subscribe }}" title="Subscribe via email"></a>

    <a class="social-links__linkedin" href="https://linkedin.com/in/{{ site.social-links.linkedin }}" title="Linkedin"></a>

    <a class="social-links__github" href="https://github.com/{{ site.social-links.github }}" title="Github"></a>

    <a class="social-links__twitter" href="https://twitter.com/{{ site.social-links.twitter }}" title="Twitter"></a>

    <a class="social-links__rss" href="{{ site.social-links.rss }}" title="Subscribe via RSS"></a>

</div>
