{% if site.social-links.twitter %}
    <a href="https://twitter.com/{{ site.social-links.twitter }}"
       class="twitter-widget twitter-follow-button"
       data-size="large"
    >
        Follow @{{ site.social-links.twitter }}
    </a>
{% endif %}
{% if site.social-links.rss %}<a href="{{ site.baseurl }}/feed.xml" title="Subscribe via RSS">{% include svg-icons/rss.html %}</a>{% endif %}
{% if site.social-links.facebook %}<a href="https://facebook.com/{{ site.social-links.facebook }}" title="Facebook">{% include svg-icons/facebook.html %}</a>{% endif %}
{% if site.social-links.googleplus %}<a href="https://plus.google.com/+{{ site.social-links.googleplus }}" title="Google+">{% include svg-icons/googleplus.html %}</a>{% endif %}
{% if site.social-links.github %}<a href="https://github.com/{{ site.social-links.github }}" title="Github">{% include svg-icons/github.html %}</a>{% endif %}
{% if site.social-links.linkedin %}<a href="https://linkedin.com/in/{{ site.social-links.linkedin }}" title="Linkedin">{% include svg-icons/linkedin.html %}</a>{% endif %}
{% if site.social-links.feedburner_email_subscription %}<a href="{{ site.social-links.feedburner_email_subscription }}" title="Subscribe via email">{% include svg-icons/email-subscription.html %}</a>{% endif %}