/*---------------------------*/
/*---------------------------*/
/*---------------------------*/
/*---------------------------*/
.image-zoom-blocks {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  font-size: 0; }
  .image-zoom-blocks .image-zoom-block {
    font-size: 14px;
    width: 33.333%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    padding: 0 5px; }
    @media only screen and (max-width: 680px) {
      .image-zoom-blocks .image-zoom-block {
        width: 50%; } }
    @media only screen and (max-width: 450px) {
      .image-zoom-blocks .image-zoom-block {
        width: 100%; } }
    .image-zoom-blocks .image-zoom-block .image-zoom-block-inner {
      border-radius: 3px;
      background-color: #525252;
      padding: 10px; }

/*---------------------------*/
/*---------------------------*/
.image-wrapper {
  overflow: hidden; }
  .image-wrapper img {
    border-radius: 3px; }

/*---------------------------*/
/*---------------------------*/
.zoom {
  display: inline-block;
  background-color: #3a3a3a;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 0 0; }
  .zoom:after {
    content: '';
    display: block;
    clear: both; }
  .zoom > * {
    cursor: pointer;
    display: inline-block;
    vertical-align: top; }
  .zoom .indicator {
    margin: 0 5px; }
    .zoom .indicator.indicator-steps-2 > div {
      width: 30px;
      position: relative;
      height: 30px;
      margin-right: -5px;
      overflow: hidden;
      font-family: '{"maxZoomStep":2}'; }
      .zoom .indicator.indicator-steps-2 > div:after, .zoom .indicator.indicator-steps-2 > div:before {
        width: 10px;
        background: #808080;
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -15px;
        box-shadow: 15px -15px 0 #808080; }
      .zoom .indicator.indicator-steps-2 > div.zoom1:after {
        background: #fff;
        box-shadow: 15px -15px 0 #fff0px 0px 0 #fff; }
      .zoom .indicator.indicator-steps-2 > div.zoom2:after {
        background: #fff;
        box-shadow: 15px -15px 0 #fff; }
    .zoom .indicator.indicator-steps-3 > div {
      width: 45px;
      position: relative;
      height: 30px;
      margin-right: -5px;
      overflow: hidden;
      font-family: '{"maxZoomStep":3}'; }
      .zoom .indicator.indicator-steps-3 > div:after, .zoom .indicator.indicator-steps-3 > div:before {
        width: 10px;
        background: #808080;
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -10px;
        box-shadow: 15px -10px 0 #808080, 30px -20px 0 #808080; }
      .zoom .indicator.indicator-steps-3 > div.zoom1:after {
        background: #fff;
        box-shadow: 15px -10px 0 #fff0px 0px 0 #fff; }
      .zoom .indicator.indicator-steps-3 > div.zoom2:after {
        background: #fff;
        box-shadow: 15px -10px 0 #fff; }
      .zoom .indicator.indicator-steps-3 > div.zoom3:after {
        background: #fff;
        box-shadow: 15px -10px 0 #fff, 30px -20px 0 #fff; }
    .zoom .indicator.indicator-steps-4 > div {
      width: 60px;
      position: relative;
      height: 30px;
      margin-right: -5px;
      overflow: hidden;
      font-family: '{"maxZoomStep":4}'; }
      .zoom .indicator.indicator-steps-4 > div:after, .zoom .indicator.indicator-steps-4 > div:before {
        width: 10px;
        background: #808080;
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -7.5px;
        box-shadow: 15px -7.5px 0 #808080, 30px -15px 0 #808080, 45px -22.5px 0 #808080; }
      .zoom .indicator.indicator-steps-4 > div.zoom1:after {
        background: #fff;
        box-shadow: 15px -7.5px 0 #fff0px 0px 0 #fff; }
      .zoom .indicator.indicator-steps-4 > div.zoom2:after {
        background: #fff;
        box-shadow: 15px -7.5px 0 #fff; }
      .zoom .indicator.indicator-steps-4 > div.zoom3:after {
        background: #fff;
        box-shadow: 15px -7.5px 0 #fff, 30px -15px 0 #fff; }
      .zoom .indicator.indicator-steps-4 > div.zoom4:after {
        background: #fff;
        box-shadow: 15px -7.5px 0 #fff, 30px -15px 0 #fff, 45px -22.5px 0 #fff; }
    .zoom .indicator.indicator-steps-5 > div {
      width: 75px;
      position: relative;
      height: 30px;
      margin-right: -5px;
      overflow: hidden;
      font-family: '{"maxZoomStep":5}'; }
      .zoom .indicator.indicator-steps-5 > div:after, .zoom .indicator.indicator-steps-5 > div:before {
        width: 10px;
        background: #808080;
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -6px;
        box-shadow: 15px -6px 0 #808080, 30px -12px 0 #808080, 45px -18px 0 #808080, 60px -24px 0 #808080; }
      .zoom .indicator.indicator-steps-5 > div.zoom1:after {
        background: #fff;
        box-shadow: 15px -6px 0 #fff0px 0px 0 #fff; }
      .zoom .indicator.indicator-steps-5 > div.zoom2:after {
        background: #fff;
        box-shadow: 15px -6px 0 #fff; }
      .zoom .indicator.indicator-steps-5 > div.zoom3:after {
        background: #fff;
        box-shadow: 15px -6px 0 #fff, 30px -12px 0 #fff; }
      .zoom .indicator.indicator-steps-5 > div.zoom4:after {
        background: #fff;
        box-shadow: 15px -6px 0 #fff, 30px -12px 0 #fff, 45px -18px 0 #fff; }
      .zoom .indicator.indicator-steps-5 > div.zoom5:after {
        background: #fff;
        box-shadow: 15px -6px 0 #fff, 30px -12px 0 #fff, 45px -18px 0 #fff, 60px -24px 0 #fff; }
    .zoom .indicator.indicator-steps-6 > div {
      width: 90px;
      position: relative;
      height: 30px;
      margin-right: -5px;
      overflow: hidden;
      font-family: '{"maxZoomStep":6}'; }
      .zoom .indicator.indicator-steps-6 > div:after, .zoom .indicator.indicator-steps-6 > div:before {
        width: 10px;
        background: #808080;
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -5px;
        box-shadow: 15px -5px 0 #808080, 30px -10px 0 #808080, 45px -15px 0 #808080, 60px -20px 0 #808080, 75px -25px 0 #808080; }
      .zoom .indicator.indicator-steps-6 > div.zoom1:after {
        background: #fff;
        box-shadow: 15px -5px 0 #fff0px 0px 0 #fff; }
      .zoom .indicator.indicator-steps-6 > div.zoom2:after {
        background: #fff;
        box-shadow: 15px -5px 0 #fff; }
      .zoom .indicator.indicator-steps-6 > div.zoom3:after {
        background: #fff;
        box-shadow: 15px -5px 0 #fff, 30px -10px 0 #fff; }
      .zoom .indicator.indicator-steps-6 > div.zoom4:after {
        background: #fff;
        box-shadow: 15px -5px 0 #fff, 30px -10px 0 #fff, 45px -15px 0 #fff; }
      .zoom .indicator.indicator-steps-6 > div.zoom5:after {
        background: #fff;
        box-shadow: 15px -5px 0 #fff, 30px -10px 0 #fff, 45px -15px 0 #fff, 60px -20px 0 #fff; }
      .zoom .indicator.indicator-steps-6 > div.zoom6:after {
        background: #fff;
        box-shadow: 15px -5px 0 #fff, 30px -10px 0 #fff, 45px -15px 0 #fff, 60px -20px 0 #fff, 75px -25px 0 #fff; }
  .zoom .zoomChange {
    margin: 0;
    width: 30px;
    height: 30px;
    background: #292929;
    border-radius: 3px;
    transition: all .2s ease-in-out; }
    .zoom .zoomChange:before, .zoom .zoomChange:after {
      transition: all .2s ease-in-out;
      background: none;
      opacity: 1 !important; }
    .zoom .zoomChange.minusBtn {
      position: relative; }
      .zoom .zoomChange.minusBtn:before {
        content: "";
        position: absolute;
        background: #555; }
      .zoom .zoomChange.minusBtn:before {
        width: 16px;
        height: 4px;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -2px; }
      .zoom .zoomChange.minusBtn:hover:before {
        background: #999; }
      .zoom .zoomChange.minusBtn.disabled {
        opacity: 0.5;
        cursor: default; }
        .zoom .zoomChange.minusBtn.disabled:before {
          background: #555555; }
    .zoom .zoomChange.plusBtn {
      position: relative; }
      .zoom .zoomChange.plusBtn:before {
        content: "";
        position: absolute;
        background: #555; }
      .zoom .zoomChange.plusBtn:before {
        width: 16px;
        height: 4px;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -2px; }
      .zoom .zoomChange.plusBtn:hover:before {
        background: #999; }
      .zoom .zoomChange.plusBtn.disabled {
        opacity: 0.5;
        cursor: default; }
        .zoom .zoomChange.plusBtn.disabled:before {
          background: #555555; }
      .zoom .zoomChange.plusBtn:after {
        content: "";
        position: absolute;
        background: #555; }
      .zoom .zoomChange.plusBtn:after {
        width: 4px;
        height: 16px;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -8px; }
      .zoom .zoomChange.plusBtn:hover:after {
        background: #999; }
      .zoom .zoomChange.plusBtn.disabled {
        opacity: 0.5;
        cursor: default; }
        .zoom .zoomChange.plusBtn.disabled:after {
          background: #555555; }

/*# sourceMappingURL=main.css.map */
