.sidebar-email {
  .sidebar-email__subscribe {
    background: url(/images/icons/social/mail-blue.svg) no-repeat 0 50%;
    background-size: auto 80%;
    padding-left: calc(3 * var(--spacer));
  }
}
