:root {
    --triangle-to-bottom-size: 50px;
    --triangle-to-bottom-color: #007bff;

    --triangle-to-bottom: {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: var(--triangle-to-bottom-size) var(--triangle-to-bottom-size) 0 var(--triangle-to-bottom-size);
        border-color: var(--triangle-to-bottom-color) transparent transparent transparent;
    };
    --triangle-to-top: {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 var(--triangle-to-bottom-size) var(--triangle-to-bottom-size) var(--triangle-to-bottom-size);
        border-color:  transparent transparent var(--triangle-to-bottom-color) transparent;
    };
}

.triangle-to-bottom {
    /*--triangle-to-bottom-size: 10px;*/
    @apply --triangle-to-bottom;
}