<div class="container demo-title-section">
    <h1
            itemprop="name"
            class="demo-title">
        {{ page.title }}
    </h1>
    <div class="demo-title-share-buttons">
        {% include share-buttons.html %}
    </div>
    {% if page.article_link %}
    <ul class="demo-title-links">
        {% if page.article_link %}
        <li>
            <a href="{{ site.baseurl }}/{{ page.article_link }}">Read the article</a>
        </li>
        {% endif %}
        {% if page.demo_code_url %}
        <li>
            <a href="{{ site.demos_code_base_url }}/{{ page.demo_code_url }}">Check the code on Github</a>
        </li>
        {% endif %}
        {% if page.demo_code_full_url %}
        <li>
            <a href="{{ page.demo_code_full_url }}">Check the code on Github</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>