.comments {
  padding-top: 15px;

  .comment-code-highlight {
    font-style: italic;

    .highlight {
      display: inline-block;
      overflow: visible;

      code{
        white-space: normal;
      }
    }
  }
}