@import "../variables";
@import "../mixins";

.entry {
  @include clearfix;

  .highlight {
    border-bottom: 1px solid $lightBorderColor;
    border-top: 1px solid $lightBorderColor;
    padding: 10px 0;
    margin: $marginVertical 0;
  }

  // inline code
  code.highlighter-rouge {
    background: #f0f0f0;
    border-radius: 3px;
    padding: 0 5px;
  }

  iframe,
  .cp_embed_iframe {
    // e.g. codepen example
    margin: $marginVertical 0;
    max-width: 100%;
  }
}