@import "../mixins";

.pagination {
  &:before,
  &:after {
    @apply --clearfix;
  }

  display: flex;
  text-align: center;

  a, em {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s all;
    text-decoration: none;
  }

  .prev-btn,
  .next-btn {
    a, em {
      color: #fff;
      background-color: #e85c33;

      &:hover {
        background-color: #333;
      }

      &.empty {
        visibility: hidden;
      }
    }
  }

  .prev-btn {
    flex: 0 0 var(--pagination-btn-width);
    padding-right: var(--pagination-btn-indent);
  }

  .pagination-links-wrapper {
    display: flex;
    flex: 0 0 calc(5 * var(--pagination-btn-width));
    padding-right: var(--pagination-btn-indent);
    padding-left: var(--pagination-btn-indent);

    .pagination-link {
      flex: 0 0 var(--pagination-pages-btn-width);

      min-height: 1px; // fix for 0 height if there is no content (because of float:left;)

      a, em {
        max-width: 50px;

        &:hover,
        &.current {
          color: #fff;
          background-color: #41b7d8;
        }
      }
    }
  }

  .next-btn {
    flex: 0 0 var(--pagination-btn-width);
    padding-left: var(--pagination-btn-indent);
  }
}