.post-short {
  cursor: pointer;
  padding-bottom: $marginVertical;
  border-bottom: 3px solid $lightGray;

  &:hover {
    h1 {
      a {
        @include hoveredTitle;
      }
    }
  }
}

.posts .post-short:last-child {
  border-bottom: none;
}

.post {
  @include clearfix;

  .meta {
    span {
      display: inline-block;
    }

    .date {
      padding-right: 15px;
    }
  }

  .comments {
    margin-top: 10px;
  }
}