.post-short {
  cursor: pointer;
  padding-bottom: $marginVertical;
  border-bottom: 3px solid $lightGray;

  &:hover {
    h1 {
      a {
        @include hoveredTitle;
      }
    }
  }
}

.posts .post-short:last-child {
  border-bottom: none;
}

.post {
  @include clearfix;

  blockquote {
    margin: $marginVertical .8em;
    border-left: 2px solid $gray;
    padding: $marginVertical 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .meta {
    span {
      display: inline-block;
    }

    .date {
      padding-right: 15px;
    }
  }

  .comments {
    margin-top: 10px;
  }
}