@import "../variables";
@import "../mixins";

.post-short {
  cursor: pointer;
  padding-bottom: $marginVertical;
  border-bottom: 3px solid $lightGray;

  &:hover {
    h1 {
      a {
        color: $hover-title-color;
      }
    }
  }

  .date {
    display: block;
    padding-top: $marginVertical;
    margin-bottom: -$marginVertical;
  }
}

.posts .post-short:last-child {
  border-bottom: none;
}

// class present in either short and full posts
.post {
  @include clearfix;

  .external-link-icon {
    $size: round($h1FontSize * 1.7);

    width: $size;
    height: $size;
    float: right;

    background: transparent url(/images/icons/external-link.svg) no-repeat center center;
    background-size: auto 75%;
  }

  .meta {
    @include clearfix;

    .share-buttons {
      float: right;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .date {
      padding-right: 15px;
    }
  }

  .comments {
    margin-top: 10px;
  }
}