// http://blog.lanyonm.org/articles/2013/11/21/alphabetize-jekyll-page-tags-pure-liquid.html

.tags {
  .tag-box {

    &.inline li {
      display: inline-block;
      font-size: 14px;
    }

    a {
      padding: 4px 6px;
      margin: 2px;
      background-color: #e6e6e6;
      border-radius: 4px;
      text-decoration: none;

      span {
        vertical-align: super;
        font-size: 10px;
      }
    }
  }

  ul.posts {
    list-style: none;

    li {
      margin-bottom: 5px;
    }
  }
}