<div class="sh-container-wrapper container-wrapper__one-column">
    <div class="sh-container">
        <div class="one-column">
            <div class="sh-container-common">
                <div class="page-about">
                    <div class="page-about__title page-title">
                        Hi, my name is<br>
                        Serg Hospodarets
                    </div>

                    <p>
                        I'm a Director of Software Engineering based in Dublin.
                    </p>

                    <p>
                        And I'm a big fan of moving CSS and JavaScript forward, participate specifications debates and
                        discuss new features with the community.
                    </p>

                    <p>
                        Author of <a href="{{ site.url }}">Serg Hospodarets Blog</a>,
                        <a href="{{ site.urls.speaking }}">speaker</a>
                        and open-source community member (<a href="https://github.com/malyw">Github</a>, <a
                            href="https://www.npmjs.com/~malyw">npm</a>).
                    </p>

                    <p>
                        I like to stay on top of the latest Web technologies and browser additions, participate their
                        development, standardization, and enhancement.
                    </p>

                    <p>
                        You always can find all this highlighted on my Twitter <a href="https://twitter.com/malyw">twitter.com/malyw</a>
                    </p>

                    <p>
                        As a participant of JS/CSS/HTML specs discussions,
                        I have a significant experience and understanding why some solutions were made in some
                        particular way
                        and can highlight the details of the current state of the art on the bleeding edge of the Web
                        technologies.
                    </p>

                    <p>
                        My passion is building software and leading teams, through inception, architecture, execution
                        and delivery.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
