<div class="sh-container-wrapper container-wrapper__one-column">
    <div class="sh-container">
        <div class="one-column">
            <div class="sh-container-common">
                <div class="page-about">
                    <div class="page-about__title page-title">
                        Hi, my name is<br>
                        Serg Hospodarets
                    </div>

                    <p>
                        I'm a Director of Software Engineering based in Dublin, Ireland.
                    </p>

                    <p>
                        I love building new products, platforms and great teams.
                    </p>

                    <p>
                        I'm an expert in different topics, main of which are:
                    <ul>
                        <li>
                            <strong>Front-End</strong>
                            (JavaScript/TS, CSS, Node.js, UX/UI)
                        </li>
                        <li>
                            <strong>DevOps</strong>
                            (CI/CD, especially for the Cloud microservices and micro-frontends + Monitoring),
                        </li>
                        <li>
                            <strong>Architecture and SDLC process organization</strong>
                            + Security, Accessibility, Performance, Security, Testing etc.
                        </li>
                        <li>
                            Building large enterprise platforms and products to improve the time to market speed and
                            decrease the price of growing tech. debt
                        </li>
                    </ul>
                    </p>

                    <p>
                        At the same time I am:
                    <ul>
                        <li>
                            <a href="https://hospodarets.com/speaking">invited speaker to international
                                conferences</a> and internal company meetups/tech. talks organizer,
                        </li>
                        <li>
                            Open source contributor (<a href="https://github.com/malyw">Github</a>, <a
                                href="https://www.npmjs.com/~malyw">npm</a>),
                        </li>
                        <li>
                            Contributor to W3C/TC39 specs, Chrome DevTools and web features,
                        </li>
                        <li>
                            sharing my knowledge via <a href="https://hospodarets.com/">blog</a>, <a
                                href="https://twitter.com/malyw">Twitter</a> etc.
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
