<div class="sh-container-wrapper container-wrapper__one-column">
    <div class="sh-container">
        <div class="one-column">
            <div class="sh-container-common">
                <div class="page-about">
                    <div class="page-about__title page-title">
                        Hi, my name is<br>
                        Serg Hospodarets
                    </div>

                    <p>
                        Hi, my name is Serg Hospodarets.
                    </p>

                    <p>
                        I'm a Lead Front-End Developer / Engineering Manager based in Dublin <br/>
                        ❤️ Front-End and Web related stuff.
                    </p>

                    <p>
                        And I'm a big fan of moving CSS and JavaScript forward, participate specifications debates and discuss new features with the community.
                    </p>

                    <p>
                        Author of <a href="{{ site.url }}">Serg Hospodarets Blog</a>,
                        <a href="https://slides.com/"></a>speaker
                        and open-source community member (<a href="https://github.com/malyw">Github</a>, <a href="https://www.npmjs.com/~malyw">npm</a>).
                    </p>

                    <p>
                        I like to stay on top of the latest Web technologies and browser additions, participate their development, standardization, and enhancement.
                        You always can find all this and browser improvements descriptions (mainly Chrome) on my Twitter <a href="https://twitter.com/malyw">twitter.com/malyw</a>
                    </p>

                    <p>
                        I have a successful experience creating Mobile Web Applications from scratch to more than 100k. downloads (as a Manager, Developer, Tester and Publisher).
                    </p>

                    <p>
                        JS, CSS and HTML enthusiast.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>