<div class="page-code-review">
    <p class="page-code-review__text">
        If you’d like to have an audit and review of your codebase and the project,
        which will include the report and suggestions regarding the performance, security and architectural improvements,
        this solution may be perfect for you.
    </p>

    <h2 class="page-code-review__title">
        How it works
    </h2>
    <div class="page-code-review__text">
        <ol>
            <li>You provide me access to your project (codebase, stagings if needed), describe the areas and problems you are the most interesting for me to take a look and I spend 2 days reviewing all this</li>
            <li>I prepare a detailed report about the findings and concrete proposals, including supporting materials</li>
            <li>We have a 1-2 hour call discussing the results, solutions and possible solutions</li>
        </ol>
    </div>

    <h2 class="page-code-review__title">
        What code review includes
    </h2>
    <div class="page-code-review__text">
        <ul>
            <li>Performance investigation</li>
            <li>Page and elements load review</li>
            <li>Front-End build investigation</li>
            <li>JS/CSS/HTML code structure and architecture review</li>
            <li>Front-End architecture overview</li>
        </ul>
    </div>

    <h2 class="page-code-review__title">
        What you can expect as the result
    </h2>
    <div class="page-code-review__text">
        <ul>
            <li>Proposals about the Front-End performance improvements</li>
            <li>Ideas and suggestions regarding the build tools and the infrastructure</li>
            <li>JavaScript improvements ideas (Node.js, npm scripts, frameworks, libraries, dependencies)</li>
            <li>Suggestions about CSS code (pre/post processors, techniques and performance boosters)</li>
            <li>Common feedback about the current technical state of your project</li>
            <li>Finding regarding improving the development and build tools</li>
            <li>Proposals about the plan to tackle the finding and next steps</li>
            <li>It will include all the findings- screenshots, tests outputs, links etc.</li>
        </ul>
    </div>

    <p class="page-code-review__text">
        All this have a fixed price of 1,600 €
    </p>

    <div>
        <a class="sh-btn" flavor="text-width" href="mailto:{{ site.email }}?subject=Code Review">
            Arrange a Code Review…
        </a>
    </div>
</div>
