<div class="page-code-review">
    <p class="page-code-review__text">
        If you’d like to have an audit and review of your codebase and the project,
        which will include the report and suggestions regarding the performance, security and architectural improvements,
        this solution may be perfect for you.
    </p>

    <h2 class="page-code-review__title">
        How it works
    </h2>
    <div class="page-code-review__text">
        <ol>
            <li>You provide the executive summary, supporting materials and access to your project (codebase, CI/CD pipelines), describe the areas and problems you are the most interesting for me to take a look and I spend 2 days reviewing all this</li>
            <li>I prepare a detailed report about the findings and concrete proposals, including supporting materials</li>
            <li>We have a 3 hours call discussing the results, solutions and possible solutions</li>
        </ol>
    </div>

    <h2 class="page-code-review__title">
        What code review includes:
    </h2>
    <div class="page-code-review__text">
        <ul>
            <li>Performance investigation</li>
            <li>Architecture review</li>
            <li>Quick Security overview</li>
            <li>Code structure review</li>
            <li>Revisiting CI/CD pipelines and end-solution</li>
        </ul>
    </div>

    <h2 class="page-code-review__title">
        What you can expect as the result
    </h2>
    <div class="page-code-review__text">
        <ul>
            <li>Proposals about the performance and security improvements</li>
            <li>Ideas and suggestions regarding the CI/CD tools the infrastructure</li>
            <li>Common feedback about the current technical and architecture state of your project</li>
            <li>Finding regarding improving the development and build tools</li>
            <li>Proposals about the plan to tackle the finding and next steps</li>
            <li>It will include all the findings- screenshots, tests outputs, links etc.</li>
        </ul>
    </div>

    <p class="page-code-review__text">
        All this have a fixed price of 1,600 €
    </p>

    <div>
        <a class="sh-btn" flavor="text-width" href="mailto:{{ site.email }}?subject=Code Review">
            Arrange a Code Review…
        </a>
    </div>
</div>
