<div class="page-speaking">
    <div class="page-speaking__intro">
        <div class="page-speaking__intro-section">
            <p>
                I worked as a
                tech leader and architect ➡️ engineering manager<br>
                ➡️ and went to a Senior Director and ➡️ Global Head of Engineering.
                <br>
                Having this experience, I love to understand and enable the needs of both developers, business and customers.
            </p>
            <p>
                I love to share my experience and meet new people with different problems,
                learn on their questions and solutions, and find new ideas.
            </p>

            <p>
                Typically I share my experience on the below topics:
            </p>

            <ul>
                <li>
                    <code>Culture</code>- fostering the culture to provide the tops down support for bottoms up enablement
                </li>
                <li>
                    <code>Technical Leadership</code>- work with Engineering leaders and C-level stakeholders to enable the
                    business using technology
                </li>
                <li>
                    <code>Technology</code>- this is my favorite part, which includes wide range of abstractions with Cloud
                    providers (AWS, Azure etc.),
                    DevOps and Platform tooling (K8S, Terraform..), including specific app types (Express, Spring Boot, Flask etc.),
                    approaches (MicroServices, MicroFrontends...),
                    and
                    CI/CD pipelines (GitLab, Github)
                    + observability and security enablement.
                </li>
            </ul>

        </div>

        <div class="page-speaking__want-me-to-speak">
            Feel free to contact me: <a href="mailto:{{ site.email_html_escaped }}">{{ site.email_html_escaped }}</a>
        </div>
    </div>
    <div class="page-speaking__events">
        <div class="page-speaking__events-list-wrapper js-talks-data_upcoming-only__hide-when-empty">
            <h2 class="page-speaking__events-title page-title">
                Upcoming Events
            </h2>
            <ul class="talks-data upcoming-only page-speaking__events-list">
                <li class="talks-data-loader">
                    <div class="loader"></div>
                </li>
                <li class="for-each-talk">
                    <div class="page-speaking__events-grid">
                        <div class="page-speaking__events-grid-item">
                            <div class="event-type">%%type%%</div>
                            <div class="event-name">
                                <a href="%%link%%">%%name%%</a>
                            </div>
                        </div>
                        <div class="page-speaking__events-grid-item page-speaking__events-grid-item__top-indent">
                            <div class="event-date">
                                %%date%%
                            </div>
                        </div>
                        <div class="page-speaking__events-grid-item page-speaking__events-grid-item__top-indent">
                            <div class="event-location">
                                %%flag%% %%location%%
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page-speaking__events-list-wrapper">
            <h2 class="page-speaking__events-title page-title">
                Previous Events
            </h2>
            <ul class="talks-data previous-only page-speaking__events-list page-speaking__events-grid">
                <li class="talks-data-loader">
                    <div class="loader"></div>
                </li>
                <li class="for-each-talk">
                    <div class="event-img event-image-gallery">
                        <a href="%%link%%" class="ignoreClass">
                            <img class="pre-src" pre-src="{{ site.baseurl }}/images/events/%%speakingImage%%"
                                 alt="about image"/>
                        </a>

                        <div class="for-each-talk-image">
                            <!--a href="%%talk-image-url%%"></a-->
                        </div>
                    </div>
                    <div class="page-speaking__event-content">
                        <div class="event-type">%%type%%</div>
                        <div class="event-name">
                            <a href="%%link%%">%%name%%</a>
                        </div>
                        <div class="event-date">
                            %%date%%
                        </div>
                        <div class="event-location">
                            %%location%% %%flag%%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
