<div class="page-speaking">
    <div class="page-speaking__intro">
        <div class="page-speaking__intro-section">
            <p>
                I really love to create something new: from the Web and Mobile Apps,
                to CI/CD Cloud pipelines and to a CSS demos.
                Being involved in the working groups Web platform features and working with multiple teams,
                I really love to share my experience and excite others regarding the abilities they can learn and start
                using.
            </p>

            <p>
                Usually, it’s related to one of the below topics:
            </p>

            <ul>
                <li>
                    <strong>Web:</strong>
                    JavaScript frameworks and technologies, CSS layouts, Web Components, MicroServices and Micro FrontEnds, etc.
                </li>
                <li>
                    <strong>Non functional requirements:</strong>
                    Security, Accessibility, Performance, Security, Testing tools and approaches
                </li>
                <li>
                    <strong>CI/CD tools:</strong>
                    Node.js/Webpack, CI tools and pipelines, binary updates, AWS/Azure additions
                </li>
                <li>
                    <strong>Tooling:</strong>
                    new browser and DevTools features, IDEs, Docker/Kubernetes
                </li>
                <li>
                    <strong>proposals/process:</strong>
                    Architecture, specifications and standards, SDLC process organization etc.
                </li>
                <li>
                    and many other things.
                </li>
            </ul>
        </div>

        <p>
            I usually speak at public conferences but can give a talk at private/company events.
            Same is about workshops- I can provide them if you are interested in it.
        </p>

        <div class="page-speaking__want-me-to-speak">
            Do you want me to speak at your conference or run a workshop-
            <br>
            Contact me: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>

        <!--div class="page-speaking__intro-section">
            <p>
                Interested to see where I’m speaking next? Here is the list:
            </p>
        </div-->
    </div>
    <div class="page-speaking__events">
        <div class="page-speaking__events-list-wrapper js-talks-data_upcoming-only__hide-when-empty">
            <h2 class="page-speaking__events-title page-title">
                Upcoming Events
            </h2>
            <ul class="talks-data upcoming-only page-speaking__events-list">
                <li class="talks-data-loader">
                    <div class="loader"></div>
                </li>
                <li class="for-each-talk">
                    <div class="page-speaking__events-grid">
                        <div class="page-speaking__events-grid-item">
                            <div class="event-type">%%type%%</div>
                            <div class="event-name">
                                <a href="%%link%%">%%name%%</a>
                            </div>
                        </div>
                        <div class="page-speaking__events-grid-item page-speaking__events-grid-item__top-indent">
                            <div class="event-date">
                                %%date%%
                            </div>
                        </div>
                        <div class="page-speaking__events-grid-item page-speaking__events-grid-item__top-indent">
                            <div class="event-location">
                                %%flag%% %%location%%
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page-speaking__events-list-wrapper">
            <h2 class="page-speaking__events-title page-title">
                Previous Events
            </h2>
            <ul class="talks-data previous-only page-speaking__events-list page-speaking__events-grid">
                <li class="talks-data-loader">
                    <div class="loader"></div>
                </li>
                <li class="for-each-talk">
                    <div class="event-img event-image-gallery">
                        <a href="%%link%%" class="ignoreClass">
                            <img class="pre-src" pre-src="{{ site.baseurl }}/images/events/%%speakingImage%%"
                                 alt="about image"/>
                        </a>

                        <div class="for-each-talk-image">
                            <!--a href="%%talk-image-url%%"></a-->
                        </div>
                    </div>
                    <div class="page-speaking__event-content">
                        <div class="event-type">%%type%%</div>
                        <div class="event-name">
                            <a href="%%link%%">%%name%%</a>
                        </div>
                        <div class="event-date">
                            %%date%%
                        </div>
                        <div class="event-location">
                            %%location%% %%flag%%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
