/* ------------------------------------ */

/*    OPEN-CLOSE block */

/* ------------------------------------ */
.open-close-wrapper {
  position: relative;

  & .open-close {
    display: none;
  }

  & .text {
    border-bottom: 1px dashed var(--warm-grey);
    cursor: pointer;
  }

  & .icon {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s;

    @include triangle-preset;

    border-width: 5px;
    border-color: var(--black-color) transparent transparent;
    border-bottom: none;
  }

  & [type="checkbox"] {
    position: absolute;
    visibility: hidden;

    &:checked {
      & ~ .open-close {
        display: block;
      }

      & ~ .icon {
        transform: rotate(180deg);
      }
    }
  }
}
