.page-code-review {
  --code-review-vertical-indent: calc(6 * var(--spacer));

  margin-bottom: var(--code-review-vertical-indent);
}

.page-code-review__title {
  font-size: var(--additional-heading-font-size);
  line-height: var(--additional-heading-line-height);

  margin-bottom: calc(3 * var(--spacer));
}

.page-code-review__text {
  margin-bottom: var(--code-review-vertical-indent);
}