.page-contact {
  .page-contact__layout {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .page-contact__block {
    padding: calc(6 * var(--spacer)) 0;

    &:not(:first-child) {
      border-top: 1px solid var(--light-gray-color);
    }
  }

  .page-contact__title {
    font-size: var(--additional-heading-font-size);
    line-height: var(--additional-heading-line-height);
    margin-bottom: calc(3 * var(--spacer));
  }
}

/* ------------------------- */

/* SOCIAL LINKS */

/* ------------------------- */
.page-contact__links {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: var(--main-horizontal-indent);
  }

  li {
    @include white-tile;

    margin-bottom: var(--main-horizontal-indent);

    a {
      display: block;
      padding: calc(3 * var(--spacer));
      text-align: center;
    }
  }

  .page-contact__social-icon {
    --size: calc(6 * var(--spacer));

    width: var(--size);
    height: var(--size);
    display: inline-block;
    margin-bottom: calc(3 * var(--spacer));
    background-repeat: no-repeat;
    background-size: contain;

    &.twitter {
      background-image: url(/images/icons/contact-page/contact-twitter.svg);
    }

    &.github {
      background-image: url(/images/icons/contact-page/contact-github.svg);
    }

    &.codepen {
      background-image: url(/images/icons/contact-page/contact-codepen.svg);
    }

    &.linkedin {
      background-image: url(/images/icons/contact-page/contact-linkedin.svg);
    }
  }

  .page-contact__social-text {
    display: block;
  }
}
