@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

@mixin absolute-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}