:root {
  // COLORS
  --link-color: #4183C4;
  --link-hover-color: lighten(#4183C4, 10%); // Sass/CSS variables mix
  --title-hover-color: var(--link-color);
  --code-block-border-color: #eee;
  // Gray colors
  --darker-gray-color: #222;
  --dark-gray-color: #333;
  --gray-color: #666;
  --light-gray-color: #eee;

  // BACKGROUNDS
  --main-bg: #fff;

  // Fonts
  --main-font-family: Helvetica, Arial, sans-serif;
}

// Layout
$marginVertical: 15px;
$main-container-max-width: 960px;

// Buttons
$btn_height: 2.8em;
$btn-width: 100px;
$btn-pulse-color: rgba(#2a65a0, 0.8);
$btn-pulse-hover-color: #fff;
$btn-pulse-bg: #f1f1f1;
$btn-pulse-hover-bg: #3884cd;

// Pagination
$pagination-btn-number: 7;
$pagination-btn-width: round((100%/$pagination-btn-number)*1000)/1000; // round to third decimal after a point
$pagination-btn-indent: $pagination-btn-width/10;

$pagination-pages-btn-number: 5;
$pagination-pages-btn-width: round((100%/$pagination-pages-btn-number)*1000)/1000; // round to third decimal after a point

// Other
$h1FontSize: 32px;
$blockquote-padding: round($marginVertical/2);
$social-links-indent: 8px;