/* custom properties set & @apply rule */
:root {
  --centered: #{'
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  '}
}

.centered {
  @apply --centered;
}

// app common
@import "mixins";
@import "_variables";
// reset, common layout and defaults classes
@import "_reset";
@import "base/default";
@import "base/common";
// atoms
@import "atoms/social-links";
@import "atoms/share-buttons";
// molecules
@import "molecules/open-close";
// header
@import "components/header/header-common";
// layout
@import "components/post";
@import "components/entry";