/* HIDE BLOCK WHEN FUNCTIONALITY IS SUPPORTED */
@supports ( (--a: 0)) {
  .is-not-supported {
    display: none;
  }
}

.demo-wrapper {
  color: var(--main-color-demo, #000) !important;
  background-color: var(--main-bg-demo, #fff) !important;
}

.selected-set:after {
  content: var(--selected-set, 'default');
}