@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px; }

  50% {
    top: 80px; } }

@keyframes arrow {
  0%, 100% {
    top: 50px; }

  50% {
    top: 80px; } }

@supports (scroll-snap-type: mandatory) or (-webkit-scroll-snap-type: mandatory) {
  .is-not-supported {
    display: none; }
  .box-wrapper {
    height: 100vh; } }

.container {
  margin: 0;
  max-width: none;
  padding: 0;
  width: auto !important; }

.box-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh); }

.box-bg {
  background: url(http://i.imgur.com/tGiZYsy.jpg) 100% 0; }

.box {
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: relative; }
  .box .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

#box1 {
  background-color: rgba(0, 255, 255, 0.5); }

#box2 {
  background-color: rgba(255, 0, 255, 0.5); }

#box3 {
  background-color: rgba(255, 255, 0, 0.5); }

#box4 {
  background-color: rgba(255, 0, 0, 0.5); }

.switchers {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .switchers a:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    margin: 6px; }
  .switchers a:hover:after {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid black;
    margin: 2px;
    margin-top: -4px;
    margin-bottom: -4px; }
  .switchers a:first-child:hover:after {
    margin-top: 2px; }
  .switchers a:last-child:hover:after {
    margin-bottom: 2px; }

a.arrow {
  display: inline-block;
  position: relative; }
  a.arrow:after {
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: 3s arrow infinite ease;
            animation: 3s arrow infinite ease; }
  a.arrow.upside-down {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }