.clearfix {
  &:before,
  &:after {
    @include clearfix;
  }
}

.more {
  /* provide post__short boundary */
  display: none;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 5px;
}

blockquote {
  margin: var(--main-vertical-indent) .8em;
  border-left: 2px solid var(--gray-color);
  padding: var(--blockquote-padding);
  color: var(--gray-color);
  font-size: 22px;
  font-style: italic;
}

.absolute-hidden {
  @include absolute-hidden;
}

.page-title {
  margin-bottom: calc(3 * var(--spacer));
}