/*------------------------------------ */
/*    BASE RULES */
/*------------------------------------ */
html, body {
  /* stretch to get minimum the full height */
  height: 100%;
  min-height: 100%;
}

body {
  background: var(--main-content-bg) url(/images/large/main-bg.jpg) no-repeat;
  color: var(--main-color);
}

@mixin link-hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;

  /* prevent long links scroll */
  word-wrap: break-word;

  &:hover {
    @include link-hover;
  }
}

// page-wide containers
.sh-container-wrapper {
  .sh-container {
    margin: 0 auto;
    max-width: var(--main-container-max-width);
    padding: 0 var(--main-page-horizontal-indents);
  }
}

h1, h2, h3 { // h4-h6 are not supposed to be used
  margin: 0;
  padding: 0;
}

h1 {
  & a {
    text-decoration: none;
    color: var(--main-color);

    &:hover {
      color: var(--title-hover-color);
    }
  }
}

h4 {
  color: var(--gray-color);
}

p {
  margin: 0 0 var(--main-vertical-indent);
}

ul, ol {
  margin: 0 0 var(--main-vertical-indent);
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

// responsive images
img {
  max-width: 100%;
}