.share-buttons {
  display: inline-block;
  min-height: 35px; /* widget height to avoid "jumping" on widgets load */

  & > *:not(:last-child) {
    margin-right: var(--main-horizontal-indent);
  }

  .fb_iframe_widget {
    // fix indents
    overflow: hidden;
    vertical-align: top;
  }
}

.twitter-widget {
  /* hidden until loaded */

  /* (is replaced) */
  display: none;
}
