.social-button {
  display: inline-block;
  margin: 5px;
  padding: 3px 15px;
  border-radius: 9999px;
  color: var(--white-color);
  background-color: var(--social-button-bg);

  &:hover {
    background-color: var(--social-button-bg-hover);
    text-decoration: none;
  }

  .social-icon {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
    background-size: 100%;

    &.social-linkedin {
      height: 19px;
      vertical-align: -1px;
      background-image: url(/images/icons/social/linkedin.svg);
    }

    &.social-twitter {
      height: 16px;
      vertical-align: -2px;
      background-image: url(/images/icons/social/twitter.svg);
    }
  }
}
