.social-links {
  display: flex;
  flex-wrap: wrap;

  a {
    width: var(--social-link-size);
    height: var(--social-link-size);
    margin-right: var(--social-links-indent);
    border: 1px solid var(--header-footer-color);
    border-radius: 50%;
    background: no-repeat 50% 50%;
    background-size: 24px auto;
  }

  // icons
  .social-links__twitter {
    background-image: url(/images/icons/social/twitter.svg);
  }

  .social-links__rss {
    background-image: url(/images/icons/social/rss.svg);
  }

  .social-links__github {
    background-image: url(/images/icons/social/github.svg);
  }

  .social-links__linkedin {
    background-image: url(/images/icons/social/linkedin.svg);
  }

  .social-links__email {
    background-image: url(/images/icons/social/mail.svg);
  }
}
