.social-links {
  &:before,
  &:after {
    @apply --clearfix;
  }

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    margin-right: var(--social-links-indent);

    @media (--mobile-breakpoint) {
      margin-bottom: var(--social-links-indent);
    }
  }

  & svg {
    float: left;
  }
}

.small-social-links {
  @media (--mobile-breakpoint) {
    justify-content: center;
  }

  & svg {
    width: var(--small-social-link-size);
    height: var(--small-social-link-size);
  }
}

.big-social-links {
  justify-content: center;

  & svg {
    width: var(--big-social-link-size);
    height: var(--big-social-link-size);
  }
}