---
layout: post-layout
---

<article
        itemscope itemtype="https://schema.org/Article"
        class="post post__full">
    <strong
            itemprop="name"
            class="post-title">
        {{ page.title }}
    </strong>

    <!-- HIDDEN META FOR ARTICLE START -->
    <span class="absolute-hidden">
            {% for tag in page.tags %}
            <meta itemprop="articleSection" content="{{ tag }}">
            {% endfor %}
            <meta itemprop="url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <meta itemprop="name" content="{{ site.author }}">
            </span>
            <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <span itemprop="name">
                    {{ site.name }}
                </span>
            </span>
        </span>
    <!-- HIDDEN META FOR ARTICLE END -->

    <div class="post__meta">
        <span class="post__date">
            {% if page.updated %}
                Updated:
            {% endif %}
            <span
                    itemprop="datePublished"
                    content='{{ page.date | date: "%Y-%m-%d" }}'>
                {{ page.date | date: "%B %e, %Y" }}
            </span>
        </span>

        <span class="post__tags">
            {% for tag in page.tags %}
                {% unless forloop.first %}
                    ,
                {% endunless %}

                <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </span>
    </div>

    <div class="entry">
        <div
                itemprop="articleBody"
        >
            {{ content }}
        </div>
    </div>

    <div class="post__footer">
        {% include share-buttons.html %}
    </div>

    {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>