---
layout: default
---

<article
        itemscope itemtype="https://schema.org/Article"
        class="post">
    <h1
            itemprop="name"
            class="post-title">
        {{ page.title }}
    </h1>

    <div class="meta">
        <!-- META FOR ARTICLE START -->
        <span class="absolute-hidden">
            {% for tag in page.tags %}
            <meta itemprop="articleSection" content="{{ tag }}">
            {% endfor %}
            <meta itemprop="url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <meta itemprop="name" content="{{ site.author }}">
            </span>
            <img class="article-image" itemprop="image" src="{{ site.avatar }}"/>
            <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <span itemprop="name">
                    {{ site.name }}
                </span>
            </span>
        </span>
        <!-- META FOR ARTICLE END -->
        <span class="date">
            <span
                    itemprop="datePublished"
                    content='{{ page.date | date: "%Y-%m-%d" }}'>
                {{ page.date | date: "%B %e, %Y" }}
            </span>
        </span>
        {% include share-buttons.html %}
    </div>

    <div class="entry">
        <div
                itemprop="articleBody"
                >
            {{ content }}
        </div>
    </div>

    {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>