---
layout: default
---

<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="meta">
        <span class="date">
            Written on {{ page.date | date: "%B %e, %Y" }}
        </span>
        <!-- SHARE BUTTONS START -->
        <span class="share">
            <span class='st_twitter_large' displayText='Tweet' st_via="malyw" st_username='malyw'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_googleplus_large' displayText='Google +'></span>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">
                stLight.options({
                    publisher: "d17f6eee-8573-4fba-b16e-2bca31a25157",
                    doNotHash: false,
                    doNotCopy: true,// If false,  “See more: yourURL.com#SThashtag” will appear
                    hashAddressBar: false,
                    shorten: false
                });
            </script>
        </span>
        <!-- SHARE BUTTONS END -->
    </div>

    <div class="entry">
        {{ content }}
        <!-- EMBED CODEPEN EXAMPLES -->
        <script async src="http://codepen.io/assets/embed/ei.js"></script>
        <!-- EMBED CAN I USE INFO -->
        <script src="{{ site.baseurl }}/js/caniuse.min.js"></script>
    </div>

    {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>