.container-wrapper__footer {
  background: url(/images/large/bg.webp);
  color: var(--header-footer-color);
}

footer {
  padding-top: calc(6 * var(--spacer));
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      margin-bottom: calc(5 * var(--spacer));
    }
  }
}
