.pagination-wrapper {
  @include clearfix;
}

.pagination {
  --pagination-btn-size: calc(6 * var(--spacer));
  --pagination-outer-indent: calc(6 * var(--spacer));
  --pagination-btn-indent: calc(var(--spacer) / 2);
  --pagination-btn-block-indent: calc(var(--spacer) * 1.5);

  display: flex;
  float: left;
  text-align: center;
  margin-bottom: var(--pagination-outer-indent);

  &:before,
  &:after {
    @include clearfix;
  }

  & a {
    display: inline-block;
    border-radius: 3px;
    transition: 0.5s all;
    text-decoration: none;

    width: var(--pagination-btn-size);
    height: var(--pagination-btn-size);
    line-height: var(--pagination-btn-size);

    color: var(--pagination-normal-color);
    background-color: var(--pagination-normal-bg);
    border: 1px solid var(--pagination-normal-border);

    &:hover,
    &.active {
      color: var(--pagination-active-color);
      background-color: var(--pagination-active-bg);
      border: 1px solid var(--pagination-active-border);
      opacity: 0.5;
    }

    &.inactive {
      color: var(--pagination-inactive-color);
      background-color: var(--pagination-inactive-bg);
      border: 1px solid var(--pagination-inactive-border);
      opacity: 0.5;
    }

    &.active,
    &.inactive {
      pointer-events: none;
    }
  }

  & .prev-btn {
    flex: 0 0 var(--pagination-btn-size);
  }

  & .pagination-links-wrapper {
    display: flex;
    margin-right: var(--pagination-btn-block-indent);
    margin-left: var(--pagination-btn-block-indent);

    & .pagination-link {
      flex: 0 0 var(--pagination-btn-size);
      margin-right: var(--pagination-btn-indent);
      margin-left: var(--pagination-btn-indent);

      min-height: 1px; /* fix for 0 height if there is no content (because of float:left;) */
    }
  }

  & .next-btn {
    flex: 0 0 var(--pagination-btn-size);
  }
}