// VARIATION 2 - full post page
.post__full {
  .post__footer {
    padding: calc(2 * var(--main-vertical-indent)) 0;
  }
}

// COMMON (list of posts and post itself)
.post { /* class present in both short and full posts */
  &::before,
  &::after {
    @include clearfix;
  }

  & .post__meta {
    &::before,
    &::after {
      @include clearfix;
    }
  }

  @include desktop {
    & .smaller-img {
      display: block;
      text-align: center;

      & img {
        max-width: 60%;
      }
    }
  }

  @include desktop {
    & .even-smaller-img {
      display: block;
      text-align: center;

      & img {
        max-width: 30%;
      }
    }
  }

  // HEADINGS INDENTS
  // h4-h6 are not supposed to be used
  h1,
  h2 {
    --padding-top: calc(1.5 * var(--main-vertical-indent)); // for hover link position

    padding-top: var(--padding-top);
    margin-bottom: calc(1.5 * var(--main-vertical-indent));
  }

  h3 {
    --padding-top: calc(1 * var(--main-vertical-indent)); // for hover link position

    padding-top: var(--padding-top);
    margin-bottom: calc(1 * var(--main-vertical-indent));
  }

  // LONG WORDS TO NOT BREAK THE UI
  #{$headings} { // headings
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  // HEADINGS HOVER LINK SHOW
  h1,
  h2,
  h3 {
    transition: background-color 0.3s;
    position: relative;

    // show the link icon for heading with ID
    &[id]:hover {
      --top-indent: var(--padding-top, 0); // if any top indent is needed

      cursor: pointer;

      &::after {
        position: absolute;
        top: calc(50% + var(--top-indent) / 2);
        right: var(--spacer);
        transform: translateY(-50%);
        background: url(/images/icons/link.svg) no-repeat 0 0;
        content: "";

        // set size
        width: var(--main-font-size);
        height: var(--main-font-size);
      }
    }
  }
}

// common meta
.post__meta {
  margin-bottom: calc(2 * var(--main-vertical-indent));

  & > *:not(:last-child) {
    padding-right: calc(3 * var(--spacer));
  }
}

.post__date {
  color: var(--warm-grey);
}

.post-title {
  margin-bottom: calc(2 * var(--main-vertical-indent));

  a {
    color: var(--main-color);
  }
}

.post__tags {
  background: url(/images/icons/tag.svg) no-repeat;
  padding-left: calc(4 * var(--spacer));
}
