.google-custom-search-original {
  /*------------------------------------ */
  /*    RESET BLOG STYLES FOR GOOGLE CUSTOM SEARCH */
  /*------------------------------------ */
  box-sizing: content-box;
  text-align: left;

  table {
    border-collapse: separate;
  }
}