.unloading {
  // added onbeforeunload page
  #main {
    opacity: 0.5;
    pointer-events: none;
  }
}

.date {
  font-style: italic;
  color: $gray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.more {
  // provide post-short boundary
  display: none;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 5px;
}

blockquote {
  margin: $marginVertical .8em;
  border-left: 2px solid $gray;
  padding: $marginVertical/2 $marginVertical/2;
  color: $gray;
  font-size: 22px;
  font-style: italic;
}

.absolute-hidden {
  @include absolute-hidden;
}