/*------------------------------------ */
/*    BASE RULES */
/*------------------------------------ */
html, body {
  /* stretch to get minimum the full height */
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 100%;
}

body {
  background: var(--main-bg);
  font-size: 18px;
  line-height: 1.4;
  /* not in shorthand because of http://codepen.io/malyw/pen/mEKKqY?editors=1100 */
  font-family: var(--main-font-family);
  color: var(--dark-gray-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;

  /* prevent long links scroll */
  word-wrap: break-word;

  &:hover {
    color: var(--link-hover-color);
  }
}

.container {
  margin: 0 auto;
  max-width: var(--main-container-max-width);
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--darker-gray-color);

  line-height: 1.7;
  margin: var(--main-vertical-indent) 0;
  padding: 0;
  transition: background-color .3s;

  @media (--mobile-breakpoint) {
    line-height: 1.4;
  }

  &[id]:hover {
    cursor: pointer;
    background-color: var(--light-gray-color);
  }
}

h1 {
  font-size: var(--main-heading-font-size);
  a {
    text-decoration: none;
    color: var(--dark-gray-color);

    &:hover {
      color: var(--title-hover-color);
    }
  }
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
  color: var(--gray-color);
}

p {
  margin: var(--main-vertical-indent) 0;
}

ul, ol {
  margin: var(--main-vertical-indent) 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

img {
  max-width: 100%;
}