<div class="sidebar-box">
    <div class="sidebar-social">
        <a class="social-button" href="https://www.linkedin.com/in/shospodarets/"
           title="Connect on LinkedIn"
           target="_blank" rel="noopener noreferrer"
        >
            <span class="social-icon social-linkedin"></span>
            Connect
        </a>
        <a class="social-button" href="https://twitter.com/intent/follow?screen_name=shospodarets"
           title="Follow on Twitter"
           target="_blank" rel="noopener noreferrer"
           >
            <span class="social-icon social-twitter"></span>
            Follow
        </a>
    </div>
</div>