<div class="sidebar-box js-talks-data_upcoming-only__hide-when-empty">
    <h3 class="sidebar-title">Upcoming Serg's presentations</h3>
    <div class="sidebar-events">
        <ul class="talks-data upcoming-only">
            <li class="talks-data-loader">
                <div class="loader"></div>
            </li>
            <li class="for-each-talk">
                <div class="event-img">
                    <a href="%%link%%">
                        <img class="pre-src" pre-src="{{ site.baseurl }}/images/events/%%eventImage%%" alt="about image"/>
                    </a>
                </div>
                <div class="event-type">%%type%%</div>
                <div class="event-name">
                    <a href="%%link%%">%%name%%</a>
                </div>
                <div class="event-date">
                    %%date%%
                </div>
                <div class="event-location">
                    %%location%% %%flag%%
                </div>
            </li>
        </ul>
    </div>
</div>