<div class="sidebar-box" flavor="smaller-padding">
    <div class="google-custom-search">
        <form class="google-custom-search-placeholder">
            <div class="google-custom-search-input-wrapper">
                <label class="google-custom-search-label" for="google-custom-search-input">Search</label>
                <input class="google-custom-search-input" id="google-custom-search-input" type="search" placeholder="Blog Search">
            </div>
            <input type="submit" value="Submit">
        </form>
        <div class="google-custom-search-original">
            <gcse:search></gcse:search>
        </div>
    </div>
</div>
