/* COMMON */
body {
    margin: 0;
}

.pie-char-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    align-items: center;
}

/* PIE CHART */
.pie-chart-common {
    --size: 200px;
    width: var(--size);
    height: var(--size);
}

.legend {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
}

.legend dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.legend dd {
    margin: 0;
}

/* PAINT API */
.pie-chart {
    background-image: paint(pie-chart);

    --pie-values: 47.7, 21.8, 8.1, 6.5, 15.9;
    --pie-colors: #2ABC30, #AC7FD1, #175AD2, #E06E30, #6D6E6E;
    --pie-rotate-angle: -90;
    --pie-stroke-color: #ffffff;
    --pie-stroke-opacity: 1;
}

.pie-chart-from-inputs {
    background-image: paint(pie-chart);
}