/* APPLY PAINT WORKLET */
.pie-chart-common {
  background-image: paint(pie-chart);
}

.pie-chart-static {
  --pie-values: 47.7, 21.8, 8.1, 6.5, 15.9;
  --pie-colors: #2abc30, #ac7fd1, #175ad2, #e06e30, #6d6e6e;
  --pie-rotate-angle: -90;
  --pie-stroke-color: #fff;
  --pie-stroke-opacity: 1;
  --pie-value-1: 20;
  --pie-color-1: #89bc8a;
  --pie-value-2: 100;
  --pie-color-2: #efb467;
  --pie-value-3: 50;
  --pie-color-3: #50ade0;
}

.pie-chart-from-inputs {
  --pie-values: var(--pie-value-1), var(--pie-value-2), var(--pie-value-3);
  --pie-colors: var(--pie-color-1), var(--pie-color-2), var(--pie-color-3);
}
